<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SAGODA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (onclick)="(false)"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >SOBRE NÓS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/benefits"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >BENEFÍCIOS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/services"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >SERVIÇOS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/team"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >EQUIPE</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >CONTATO</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
